.form_heading{
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #83888F;
margin-bottom: 56px;
}
.form_div {
    display: flex;
    margin-left: -23px;
}
.form_div label{
margin-left: 23px;
margin-bottom: 30px;
}
.form_checkbox{
appearance: none;

}

.form_checkbox:checked+.span_all{ 
    background-color:#0E8784;
}
.span_all {
    display: block;
    width: 230px ;
height: 250px; 
padding: 32px 28px;
background: #F4F1EB;
border-radius: 8px;
}

.form_span{
    display: block;
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
color: #333D4B;

margin-bottom: 25px;
}

.form_spane{
font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #333D4B;
}
