.container_section{
    width: 1200px ;
    height: 450px;
    margin: 0 auto;
    display: block;
    padding: 86px 117px;
    background-image: url(../../images/Bitmapcoffee.jpg);
    background-size: 1280px 450px;
    padding: 100px 86px;
    background-repeat: no-repeat;
    // background-position: center;
}

.container_section{
    width: 1200px ;
    height: 450px;
    margin: 0 auto;
    display: block;
    padding: 86px 117px;
    background-image: url(../../images/Bitmapcoffeelast.jpg);
    background-size: 1280px 450px;
    padding: 100px 86px;
    background-repeat: no-repeat;
}